/* css styles */
.navbar {
  background-image: url('files/images/Anguilla_marmorata.jpg');
  background-size: cover;
  background-position: right 24.5%;
  height: 100px;
  position: relative !important; /* change from absolute to fixed */
  top: 0 !important;
  width: 100% !important;
  z-index: 1030 !important; /* typical Bootstrap navbar z-index */
  transition: background-color 0.1s ease; /* optional smooth transition */
}
.navbar li.nav-item a.nav-link span {
  color: #77aaff !important;
}
.site-title {
    color: #77aaff; /* permanent color */
}
img { /* Make images on mobile same size */
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.layout {
  display: flex;
  gap: 20px;  /* equal padding between columns */
}
.layout > div {
  flex: 1 1 auto;
}
@media (max-width: 600px) {
  .page-container, .container, .content, .column-margin, .solana-template {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box !important;
  }
}
